.cd-video__container{
	background: url('https://d3hw3v7a3r0h49.cloudfront.net/wysiwyg/science-page/nerd-dog.png');
	background-position:top center;
	background-size:cover;
	height:650px;
	.cd-header{
		padding-top: 200px;
	}
	div.cd-video__button{
		margin-top: 2.4rem;
	}
}

.hidden{
	display:none;
}

.vimeo-lightbox{
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);
	top:0;
	.wrapper{
		position: relative;
		height: 0;
		overflow: hidden;
		padding-bottom: 56.25%;
		iframe{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			
		}
	}
	.exit{
		position:fixed;
		top:25px;
		right:25px;
		z-index:999999;
		.cls-1{
			fill:#efefef;
			&:hover{
				fill:white;
			}
		}
	}
}