/**
 * index.scss
 */
@media only screen and (max-width: 1023px) {
  .navigation {
    padding: 0; }
  .navigation .parent .level-top {
    position: relative;
    display: block;
    text-decoration: none; }
  .navigation .parent .level-top:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 42px;
    line-height: inherit;
    color: inherit;
    content: "\e586";
    font-family: 'playology-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center; }
  .navigation .parent .level-top:after {
    position: absolute;
    right: 7px;
    top: -8px; }
  .navigation .parent .level-top.ui-state-active:after {
    content: "\e585"; }
  .nav-sections {
    -webkit-overflow-scrolling: touch;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    transition: left .3s;
    height: 100%;
    left: -80%;
    left: calc(-1 * (100% - 54px));
    overflow: auto;
    position: fixed;
    top: 0;
    width: 80%;
    width: calc(100% - 54px); }
  .nav-sections
.switcher {
    border-top: 1px solid #d1d1d1;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    padding: .8rem 3.5rem .8rem 2rem; }
  .nav-sections .switcher
.label {
    display: block;
    margin-bottom: 5.5px; }
  .nav-sections .switcher:last-child {
    border-bottom: 1px solid #d1d1d1; }
  .nav-sections .switcher-trigger
strong {
    position: relative;
    display: block;
    text-decoration: none; }
  .nav-sections .switcher-trigger strong:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 42px;
    line-height: inherit;
    color: inherit;
    content: "\e586";
    font-family: 'playology-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center; }
  .nav-sections .switcher-trigger strong:after {
    position: absolute;
    right: -40px;
    top: -16px; }
  .nav-sections .switcher-trigger.active strong:after {
    content: "\e585"; }
  .nav-sections .switcher-dropdown {
    margin: 0;
    padding: 0;
    list-style: none none;
    padding: 11px 0; }
  .nav-sections
.header.links {
    margin: 0;
    padding: 0;
    list-style: none none;
    border-bottom: 1px solid #d1d1d1; }
  .nav-sections .header.links
li {
    font-size: 1.6rem;
    margin: 0; }
  .nav-sections .header.links
li.greet.welcome {
    border-top: 1px solid #d1d1d1;
    font-weight: 700;
    padding: .8rem 22px; }
  .nav-sections .header.links li > a {
    border-top: 1px solid #d1d1d1; }
  .nav-sections .header.links a, .nav-sections .header.links a:hover {
    color: #404040;
    text-decoration: none;
    display: block;
    font-weight: 700;
    padding: .8rem 22px; }
  .nav-sections .header.links
.header.links {
    border: 0; }
  .nav-before-open {
    height: 100%;
    overflow-x: hidden;
    width: 100%; }
  .nav-before-open .page-header, .nav-before-open .page-wrapper {
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    transition: left .3s; }
  .nav-before-open .page-wrapper {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative; }
  .nav-before-open
body {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%; }
  .nav-open .nav-sections {
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -ms-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    left: 0;
    z-index: 99; }
  .nav-open .header.content > .nav-toggle::after {
    background: rgba(0, 0, 0, 0.7);
    content: '';
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1; }
  .nav-sections-items {
    position: relative;
    z-index: 1; }
  .nav-sections-items:before, .nav-sections-items:after {
    content: '';
    display: table; }
  .nav-sections-items:after {
    clear: both; }
  .nav-sections-item-title {
    background: #e3e3e3;
    border: solid #d7d7d7;
    border-width: 0 0 1px 1px;
    box-sizing: border-box;
    float: left;
    height: 71px;
    padding-top: 24px;
    text-align: center;
    width: 33.33%; }
  .nav-sections-item-title.active {
    background: transparent;
    border-bottom: 0; }
  .nav-sections-item-title.active .nav-sections-item-switch {
    color: #404040;
    font-weight: 600; }
  .nav-sections-item-title .nav-sections-item-switch:hover {
    text-decoration: none; }
  .nav-sections-item-content {
    box-sizing: border-box;
    float: right;
    margin-left: -100%;
    margin-top: 71px;
    width: 100%;
    padding: 27.5px 0; }
  .nav-sections-item-content:before, .nav-sections-item-content:after {
    content: '';
    display: table; }
  .nav-sections-item-content:after {
    clear: both; }
  .nav-sections-item-content.active {
    display: block; }
  .navigation {
    background: #f0f0f0;
    box-sizing: border-box; }
  .navigation
ul {
    margin: 0;
    padding: 0; }
  .navigation
li {
    margin: 0; }
  .navigation
a {
    display: block;
    padding-top: 11px;
    padding-right: 0;
    padding-bottom: 11px;
    padding-left: 15px; }
  .navigation a, .navigation a:hover {
    color: #404040;
    text-decoration: none; }
  .navigation
.level0 {
    font-size: 1.6rem; }
  .navigation .level0 > .level-top {
    font-weight: 700;
    padding: 8px 44px 8px 15px;
    text-transform: uppercase;
    word-wrap: break-word; }
  .navigation .level0.active .all-category .ui-state-focus {
    border-color: #ffec00;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #404040;
    padding-left: 7px;
    display: inline-block; }
  .navigation .level0 > .level1 {
    font-weight: 600; }
  .navigation .level0.active > a:not(.ui-state-active), .navigation .level0.has-active > a:not(.ui-state-active) {
    border-color: #ffec00;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #404040; }
  .navigation .level0.active > a:not(.ui-state-active) span:not(.ui-menu-icon),
  .navigation .level0.has-active > a:not(.ui-state-active) span:not(.ui-menu-icon) {
    margin-left: -8px; }
  .navigation .submenu > li {
    word-wrap: break-word; }
  .navigation .submenu:not(:first-child) {
    font-weight: 400;
    line-height: 1.3;
    left: auto !important;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    top: auto !important;
    transition: left .3s ease-out; }
  .navigation .submenu:not(:first-child) > li > a {
    padding-left: 15px; }
  .navigation .submenu:not(:first-child) > li:last-child {
    margin-bottom: 0; }
  .navigation .submenu:not(:first-child) ul {
    display: block;
    padding-left: 15px; }
  .navigation .submenu:not(:first-child) ul > li {
    margin: 0; }
  .navigation .submenu:not(:first-child) ul > li
a {
    color: #575757;
    display: block;
    line-height: normal; }
  .navigation .submenu:not(:first-child).expanded {
    display: block !important;
    padding-right: 0;
    top: 0 !important; }
  .navigation .submenu:not(:first-child) .active > a {
    border-color: #ffec00;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #404040;
    padding-left: 7px; }
  .navigation .submenu:not(:first-child) .level1.active > a {
    padding-left: 7px; }
  .navigation .nav-main-menu li > a {
    color: #404040; }
  .navigation .nav-main-menu .dropdown .toggle-menu
a {
    display: inline-block;
    text-decoration: none;
    display: block;
    padding: 0; }
  .navigation .nav-main-menu .dropdown .toggle-menu a:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    content: "\e586";
    font-family: 'playology-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center; }
  .navigation .nav-main-menu .dropdown .toggle-menu a.active:before {
    content: "\e585"; }
  .navigation .nav-main-menu .dropdown .toggle-menu a
.fa {
    display: none; }
  .navigation .nav-main-menu .dropdown-menu {
    display: none; }
  .navigation .level0.active > a:not(.ui-state-active), .navigation .level0.has-active > a:not(.ui-state-active) {
    border-color: transparent; }
  .field-tooltip .field-tooltip-content {
    right: -11px;
    top: 40px;
    left: auto; }
  .field-tooltip .field-tooltip-content:before, .field-tooltip .field-tooltip-content:after {
    border: 10px solid transparent;
    height: 0;
    width: 0;
    margin-top: -21px;
    right: 11px;
    left: auto;
    top: 0; }
  .field-tooltip .field-tooltip-content:before {
    border-bottom-color: #666; }
  .field-tooltip .field-tooltip-content:after {
    border-bottom-color: #f4f4f4;
    top: 1px; } }

.swatch-attribute-label {
  font-weight: bold;
  position: relative; }

.swatch-attribute-label.required {
  padding-right: 10px; }

.swatch-attribute-label[data-required="1"]:after {
  content: '*';
  color: red;
  position: absolute;
  right: -11px;
  top: -2px;
  font-weight: bold;
  font-size: 1em; }

.swatch-attribute-selected-option {
  color: #646464;
  padding-left: 17px; }

.swatch-attribute-options {
  margin-top: 10px; }

.swatch-attribute-options:focus {
  box-shadow: none; }

.swatch-option {
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  max-width: 90px;
  float: left;
  height: 20px;
  margin-right: 6px;
  min-width: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis; }

.swatch-option.text {
  background: #fff;
  border: 1px solid #979797;
  color: #979797;
  font-size: 10px;
  font-weight: 700;
  height: 25px;
  line-height: 25px;
  min-width: 25px; }

.swatch-option.selected, .swatch-option:not(.disabled):hover {
  border-color: #979797; }

.swatch-option.text.selected, .swatch-option.text:not(.disabled):hover {
  background-color: #979797 !important;
  color: #f1f1f1; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.swatch-option.disabled {
  cursor: default; }

.swatch-option.disabled:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -moz-linear-gradient(to left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 42%, white 43%, white 46%, #ff5216 47%, #ff5216 53%, white 54%, white 57%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(42%, rgba(255, 255, 255, 0)), color-stop(43%, white), color-stop(46%, white), color-stop(47%, #ff5216), color-stop(53%, #ff5216), color-stop(54%, white), color-stop(57%, white), color-stop(58%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(to left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 42%, white 43%, white 46%, #ff5216 47%, #ff5216 53%, white 54%, white 57%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(to left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 42%, white 43%, white 46%, #ff5216 47%, #ff5216 53%, white 54%, white 57%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(to left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 42%, white 43%, white 46%, #ff5216 47%, #ff5216 53%, white 54%, white 57%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 42%, white 43%, white 46%, #ff5216 47%, #ff5216 53%, white 54%, white 57%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%); }

.swatch-option-tooltip {
  border-radius: 10px;
  color: #949494;
  display: none;
  max-height: 100%;
  max-width: 140px;
  min-height: 20px;
  min-width: 20px;
  position: absolute;
  text-align: center;
  z-index: 99; }

.swatch-option-tooltip .corner,
.swatch-option-tooltip-layered
.corner {
  left: 40%;
  position: absolute;
  bottom: 0;
  height: 8px; }

.swatch-option-tooltip .corner:after,
.swatch-option-tooltip-layered .corner:after {
  content: '';
  position: relative;
  top: -2px;
  left: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #fff transparent transparent transparent;
  font-size: 1px; }

.swatch-option-tooltip .corner:before,
.swatch-option-tooltip-layered .corner:before {
  content: '';
  position: relative;
  top: -1px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #cacaca transparent transparent transparent;
  font-size: 1px; }

.swatch-option-tooltip .image,
.swatch-option-tooltip-layered
.image {
  border-radius: 10px 10px 0 0;
  display: block;
  height: 75px;
  margin: 0 auto;
  width: 78px; }

.swatch-option-tooltip
.title {
  background: #fff;
  border: 1px solid #cacaca;
  border-radius: 0 0 10px 10px;
  color: #404040;
  display: block;
  max-width: 140px;
  min-height: 20px;
  max-height: 200px;
  overflow: hidden;
  padding: 5px;
  text-align: center; }

.swatch-opt {
  margin: 20px 0; }

.swatch-more {
  display: inline-block;
  margin: 2px 0;
  text-decoration: none !important;
  position: static;
  z-index: 1; }

.swatch-option-link-layered {
  position: relative;
  margin: 0 !important;
  padding: 0 !important; }

.swatch-option-link-layered:focus > div {
  box-shadow: 0 0 3px 1px #68a8e0; }

.swatch-option-tooltip-layered {
  width: 140px;
  position: absolute;
  background: #fff;
  color: #949494;
  border: 1px solid #adadad;
  display: none;
  z-index: 999;
  left: -47px; }

.swatch-visual-tooltip-layered {
  height: 160px;
  top: -170px; }

.swatch-textual-tooltip-layered {
  height: 30px;
  top: -40px; }

.swatch-option-link-layered:hover > .swatch-option-tooltip-layered {
  display: block; }

.swatch-attribute-options .swatch-option-tooltip-layered
.title {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: -5px;
  left: 0;
  color: #282828;
  text-align: center;
  margin-bottom: 10px; }

.swatch-option-disabled:after {
  content: '';
  position: absolute;
  width: 42px;
  height: 2px;
  background: red;
  transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  z-index: 995;
  left: -4px;
  top: 10px; }

.swatch-option-disabled {
  cursor: default;
  border: 0; }

.swatch-opt-listing {
  margin-bottom: 10px; }

.swatch-option-loading {
  content: url(https://d34kyjzgista3m.cloudfront.net/frontend/BigHippo/Playology/en_US/Magento_Swatches/images/loader-2.gif); }

.swatch-input {
  left: -1000px;
  position: absolute;
  visibility: hidden; }

/* GENERAL */
.cd-nose, .cd-engagement, .cd-hero, .cd-safety {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.cd-engagement__container, .cd-safety__container, .cd-nose__container {
  width: 50%;
  height: 100vh; }

.heading-hero {
  font-weight: 700; }

.cd-content__container {
  text-align: center; }
  .cd-content__container h1, .cd-content__container h2, .cd-content__container h3, .cd-content__container h4, .cd-content__container h5, .cd-content__container h6 {
    margin: 0 auto; }
  .cd-content__container .cta.button, .cd-content__container .cta.button.outline-light {
    margin-top: 5vh; }

@media only screen and (max-width: 640px) {
  .cd-content__container .heading-hero {
    font-size: 4.5rem; }
  .cd-content__container .subheading {
    font-size: 3.5rem; } }

/*HERO SECTION*/
.cd-hero .cd-content__container {
  padding: 25vh 0;
  position: relative; }

.cd-hero .action.scroll-down {
  display: inline-block;
  text-decoration: none;
  bottom: 100px;
  cursor: pointer;
  left: 50%;
  line-height: normal;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1; }

.cd-hero .action.scroll-down:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 5rem;
  line-height: inherit;
  color: #ffec00;
  content: "\e586";
  font-family: 'playology-icons';
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center; }

/* NOSE SECTION */
.cd-nose__container {
  width: 60%;
  position: relative; }
  .cd-nose__container .cd-header {
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 25%; }

@media only screen and (max-width: 768px) {
  .cd-nose .cd-nose__container, .cd-nose .cd-engagement__container, .cd-nose .cd-safety__container, .cd-engagement .cd-nose__container, .cd-engagement .cd-engagement__container, .cd-engagement .cd-safety__container, .cd-safety .cd-nose__container, .cd-safety .cd-engagement__container, .cd-safety .cd-safety__container {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .cd-nose .cd-nose__container .cd-header, .cd-nose .cd-engagement__container .cd-header, .cd-nose .cd-safety__container .cd-header, .cd-engagement .cd-nose__container .cd-header, .cd-engagement .cd-engagement__container .cd-header, .cd-engagement .cd-safety__container .cd-header, .cd-safety .cd-nose__container .cd-header, .cd-safety .cd-engagement__container .cd-header, .cd-safety .cd-safety__container .cd-header {
      text-align: center;
      margin-left: 5%;
      width: 90%; }
  .cd-nose {
    background-position: right; }
  .cd-engagement {
    background-position: left; }
  .cd-safety {
    background-position: right; } }

/* ENGAGEMENT SECTION */
.cd-engagement__container {
  position: relative;
  margin-left: 50%; }
  .cd-engagement__container .cd-header {
    text-align: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 25%; }

/* SAFETY */
.cd-safety__container {
  position: relative; }
  .cd-safety__container .cd-header {
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 25%; }

/* FEATURES */
.cd-features {
  text-align: center; }
  .cd-features .cd-features__container {
    padding: 15vh 0; }
  .cd-features .cd-header h1 {
    margin-bottom: 5rem; }
  .cd-features .icon-box {
    display: inline-block;
    margin: 2.5em auto;
    width: 180px; }
    .cd-features .icon-box .top {
      max-width: 60%;
      vertical-align: top;
      margin: 0 auto;
      height: 150px; }
      .cd-features .icon-box .top img {
        vertical-align: middle;
        max-height: 100px; }
    .cd-features .icon-box .bottom {
      display: grid; }

@media only screen and (min-width: 768px) {
  .cd-features .cd-header h1 {
    margin-bottom: 2.5rem; }
  .cd-features .cd-features__container {
    max-width: 600px;
    margin: 0 auto; } }

@media only screen and (min-width: 1170px) {
  .cd-features .cd-features__container {
    max-width: 1200px;
    margin: 0 auto; } }

/* TECHNOLOGY */
/* DOGGO */
.cd-doggo {
  height: 80vh; }
  .cd-doggo .cd-doggo__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; }
    .cd-doggo .cd-doggo__container h1, .cd-doggo .cd-doggo__container h2, .cd-doggo .cd-doggo__container h3, .cd-doggo .cd-doggo__container h4, .cd-doggo .cd-doggo__container h5, .cd-doggo .cd-doggo__container h6 {
      margin: 0; }
  .cd-doggo .right {
    background: #222;
    height: inherit;
    text-align: left;
    flex: 1;
    padding-left: 25px;
    position: relative; }
    .cd-doggo .right .cd-header {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  .cd-doggo .left {
    background-position: center center;
    background-size: cover;
    flex: 1; }

@media only screen and (max-width: 640px) {
  .cd-doggo {
    height: unset; }
    .cd-doggo .cd-doggo__container {
      flex-direction: column; }
      .cd-doggo .cd-doggo__container .right {
        text-align: center;
        height: 545px; }
      .cd-doggo .cd-doggo__container .left {
        height: 385px; } }

/* -------------------------------- 
Primary style
-------------------------------- */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  color: #7f8c97;
  background-color: #fff;
  margin: 0; }

a {
  color: #acb7c0;
  text-decoration: none; }

img {
  max-width: 100%; }

h1,
h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold; }

.breadcrumbs,
.page-title-wrapper {
  display: none !important; }

/* -------------------------------- 
Patterns - reusable parts of our design
-------------------------------- */
@media only screen and (min-width: 1170px) {
  .cd-is-hidden {
    visibility: hidden; }
  .breadcrumbs,
  .page-title-wrapper {
    display: block; }
  h1 sup {
    line-height: 3.6 !important; } }

.text-white {
  color: white !important; }

.text-dark {
  color: #222 !important; }

h1 sup {
  font-size: small;
  vertical-align: text-top;
  line-height: 2.2; }

/* -------------------------------- 
IMPORTED FROM TALOS
-------------------------------- */
