/**
 * index.scss
 */

@import 'facts.scss';
@import 'video.scss';
@import 'benefits.scss';
@import 'owlcarousel.scss';
@import 'talos.scss';
@import 'talos-home.scss';
@import 'homepage-style.scss';



/* -------------------------------- 
Primary style
-------------------------------- */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    color: #7f8c97;
    background-color: #fff;
    margin: 0;
}

a {
    color: #acb7c0;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2 {
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
}

.breadcrumbs,
.page-title-wrapper {
    display: none !important;
}


/* -------------------------------- 
Patterns - reusable parts of our design
-------------------------------- */

@media only screen and (min-width: 1170px) {
    .cd-is-hidden {
        visibility: hidden;
    }
    .breadcrumbs,
    .page-title-wrapper {
        display: block;
    }
    h1 sup {
        line-height: 3.6 !important;
    }
}

.text-white {
    color: white!important;
}

.text-dark {
    color: #222!important;
}

h1 sup {
    font-size: small;
    vertical-align: text-top;
    line-height: 2.2;
}


/* -------------------------------- 
IMPORTED FROM TALOS
-------------------------------- */