/**
 * index.scss
 */

@import 'talos-home.scss';
@import 'owlcarousel.scss';
@import 'mobile-carousel.scss';
@import 'safety-styles.scss';



/* -------------------------------- 
Primary style
-------------------------------- */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    color: #7f8c97;
    background-color: #fff;
    margin: 0;
}

a {
    color: #acb7c0;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2 {
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
}

.breadcrumbs,
.page-title-wrapper {
    display: none !important;
}

.cd-header {
  padding:20px 10px;
  text-align: center;
  h1 {
  font-size: 2.4rem;
  }
  h4{
    font-size:1.8rem;
    font-weight: 300;
    max-width: 650px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-header {
    h1 {
    font-size: 4.5rem;
    }
    h4{
      font-size: 2.5rem;
    }
  }
}


/* -------------------------------- 
Patterns - reusable parts of our design
-------------------------------- */

@media only screen and (min-width: 1170px) {
    .cd-is-hidden {
        visibility: hidden;
    }
    .breadcrumbs,
    .page-title-wrapper {
        display: block;
    }
    h1 sup {
        line-height: 3.6 !important;
    }
}

.text-white {
    color: white!important;
}

.text-dark {
    color: #222!important;
}

.text-bold  {
    font-weight:700;
}

h1 sup {
    font-size: small;
    vertical-align: text-top;
    line-height: 2.2;
}


/* -------------------------------- 
IMPORTED FROM TALOS
-------------------------------- */